.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .swiper-wrapper{
    min-height: 40vh;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .dataUserDash{
    display: none;
  }

  .btnexit{
    display: none;
  }

  .dataUserDash{
    display: block;
    width: 100%;
    text-align: center;
    background: #1947ba;
    color: #fff;
  }
  #navbarNav{
    justify-content: center;
  }
  .Dashboard{
    padding-bottom: 2rem;
  }

  .nav-link{
    border-radius: 10px;
    transition: all 0.3s;
    color: #0A083A;
  }
  .nav-link i{
    color: #1947ba;
  }
  .nav-link.active{
    background-color: #FC637D;
    color:#fff !important;
  }
  .nav-link:hover{
    text-decoration: none !important;
    background: #fff !important;
    border-radius: 20px;
    color: #1947ba !important;
  }

  .nav-link:active{
    background-color: #FC637D;
    color:#fff !important;
  }
 
  .resetHv{
    height: auto !important;
    max-height: inherit !important;
    overflow: inherit;
  }
  .boxDateToday .datActual{
    font-size: 4vw;
  }
  .nextBoxDate h3{
    font-size: 1rem;
  }

  /* estilos action buttons */

  .actionsIcons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.2rem;
    
  }

  .actionsIcons i{
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid rgb(241, 241, 241);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid rgb(241, 241, 241);
    background: rgb(241, 241, 241);
    border-radius: 8px;
  }

  .actionsIcons i:hover{
    opacity: 0.6;
  }

  .actionsIcons i:nth-child(1){
    color:#FC637D;
  }
  .actionsIcons i:nth-child(2){
    color:#1947ba;
  }
  .actionsIcons i:nth-child(3){
    color:#0A083A;
  }

  